mixin superBg(section, goTo)
  -
    var { id, who, text, link, buttonList } = section
  .background(
    id=id
    style=`
      --bgi-mobile: url(${baseUrl}asset/image/background/${id}-mobile.jpg);
      --bgi-desktop: url(${baseUrl}asset/image/background/${id}.jpg);
    `
  )
    .panel
      h1.title= who

      if text 
        .text= text
      if link 
        a.link(
          title=`${text} ${link}`
          href=`#${id}`
        )= link

    .box__large
      if buttonList
        .box__small
          each button, key in buttonList
            button(
              class=`button--${ key ? 'light' : 'dark'}`
            )= button
        a.button__icon--down(
          href=`#${goTo}`
        )
          +chevron()
      else
        a.button__icon--up(
          href=`#${goTo}`
        )
          +chevron()
